.highlight{
            background-color: #ffd700;
            padding: 2px 6px;
            border-radius: 4px;
            font-weight: bold;
}

.info{ 
    background-color: aquamarine;
    padding: 20px;
    margin-top: 20px;

}
nav{
            padding: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
}
header{
            border-bottom: 1px solid bisque;
            background-color: aquamarine;
            margin-bottom: 20px;
}
ul{
            list-style: none;
            display: flex;
            gap: 20px;
}